* {
    padding: 0;
    margin: 0;
}

.menubar {
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    margin-top: 11px;
    margin-bottom: 12px;
}

.content {
    padding-bottom: 162px;
    padding-top: 44px;
}

.home-meta-subtitle {
    margin-top: 17px;
}

.button-meta {
    margin-top:17px;
}