* {
    padding: 0;
    margin: 0;
}


.menubar {
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu {
    margin-top: 11px;
    margin-bottom: 12px;
    text-decoration: none;
    
}

.content {
    padding-bottom: 162px;
    padding-top: 44px;
    display: flex;
    flex-direction: row;
    gap:10px;

}

.home-meta-subtitle {
    margin-top: 17px;
}

.button-meta {
    margin-top:37px;
}

.menuItem menuItemHome  {
    text-decoration: none;
    font-family:sans-serif;


}

.center {
    padding-left:calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.brand {
    width: 160px;
    height: 50px;
    margin-top: 97px;
    margin-bottom: 97px;
}

.menuItem {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-family: sans-serif;

}

.menubar {
    display: flex;
    justify-content: space-between;
}

.menuItemHome {
    color: red;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.brandbar {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.home-meta-title {
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    font-family: sans-serif;
}

.home-meta-subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    font-family: sans-serif;
}

.buttonStart {
    width: 140px;
    height: 50px;
    background-color: #F25822 ;
    color:white;
    border:none;
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.buttonVideo {
    width: 140px;
    height: 50px;
    background-color: #FFFFFF ;
    color:white;
    border:none;
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    margin-left: 50px;
}

/* asdfasdfasdfasdfasf */