* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 231px;
    padding-right: 240px;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}


.logo {
    height: 38px;
    width: 111px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.search {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 0px;
    background-image: url(img/header/search.svg);
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
}

.menublock{
    width: 159px;
    height: 29px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menubutton {
    border: none;
    border-radius: 0px;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
}

.menu {
    width: 32px;
    height: 23px;
    background-image: url(img/header/menu.svg);
}

.login {
    width: 29px;
    height: 29px;
    background-image: url(img/header/login.svg);
}

.cart {
    width: 32px;
    height: 29px;
    background-image: url(img/header/cart.png);
}
