* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #040c1a;
}

.header {
    background-color: #020a18;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.header__link {
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header__link:hover {
    color: #3a6888;
}

.main__box {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 197px;
    flex-wrap: wrap;
}

.main__subtitle {
    color: #3a6888;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.main__title {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 130%;
    color: #fff;
    padding-bottom: 40px;
}

.main__left {
    max-width: 604px;
}

.main__dsc {
    font-family: 'Open Sens', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #878b91;
    padding-bottom: 50px;
}

.button__link {
    font-family: 'Open Sens', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    background: #3a68b8;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    color: white;
}

.button__link:hover {
    color: #3A68B8;
    background-color: transparent;
    border: 1px solid #3A68B8;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button__video {
    display: flex;
    font-family: 'Open Sens', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button__video svg {
    padding-right: 10px;
}

.button__video:hover {
    color: #3A68B8;
    background-color: transparent;
    border: 1px solid #3A68B8;
}

.button__video:hover svg path {
    fill: #3A68B8;
}

.logo {
    margin-bottom: 99px;
}

.ai__box {
    margin-top: 157px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 264px;
}

.ai__title {
    font-family: "Open Sans", sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    color: #fff;
    padding-bottom: 40px;
}

.ai__right {
    margin: 117px 0px 117px 68px;
}

.ai__dsc {
    font-family: 'Open Sens', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    padding-bottom: 50px;
    opacity: 0.7;
    text-align: justify;
}

.link__learn {
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background: rgb(58, 104, 184);
    width: 150px;
    height: 52px;
    font-family: 'Open Sens', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(3, 389px);
    gap: 32px;
    justify-content: center;
    margin-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    gap: 30px;
    justify-items: center;
}

.heading {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFF;
    opacity: 0.7;
}

.item__text {
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFF;
}

.item__big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.clients {
    display: flex;
    margin-bottom: 221px;
    ;
}

.client__dsc {
    color: rgb(255, 255, 255);
    font-family: 'Open Sens', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 20px;
    margin-right: 88px;
}

.client__title {
    color: rgb(255, 255, 255);
    font-family: 'Open Sens', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.left__text {
    margin: 14px 25px 14px 0px;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding-top: 48px;
    padding-top: 48px;
    gap: 30px;
}

.footer__subtitle {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 33px;
}

.footer__text {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
    width:261px;
}

.footer__middle {
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 250;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
    width:261px;
    font-style: italic;
}

.footer__img {
    padding-right: 6px;
}

.footer__link{
gap: 24px;
display: flex;
}